<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="..\statics\styles\style.css">
    <title>Document</title>
</head>
<body>
    <!-- Menu, na lateral e vertical -->
    <section>
        <nav >
            <img id="logo" src="..\statics\public\logo2.png" alt="logo">
            <ul>
                <a id="teste" href="contato.html">CONTATO</a>                          
                <a id="teste" href="projetos.html">PROJETOS</a>
                <a id="teste" href="quem_sou.html">QUEM SOU</a>
            </ul>
        </nav>
    <!-- Fundo com minha foto -->
    <div>
        <img id="foto"src="..\statics\public\foto.png" >
        
        
    </div>
    <!-- Apresentação -->
    <div>
        <section>
            <nav id="texto1">
                <h1 id="textIndexTitulo">-SOU O SAMUEL, UM DEV EM FORMAÇÃO..</h1>
                <p id="textIndexParagrafo">BEM VINDO AO MEU PORTIFÓLIO<br>APRESENTO UM ESTUDANTE BACK E FRONT-END</p>
                <h1 id="textIndexTitulo2">-INFORMAÇÕES EDUCACIONAIS</h1>
                <p id="textIndexParagrafo2">CURSANDO:FATEC SÃO JOSÉ DOS CAMPOS</p>
            </nav>
        </section>
    </div>
</body>
</html>