<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="..\statics\styles\style.css">
    <title>Quem Sou</title>
</head>
<body>
    <!-- Menu lateral -->
    <section>
        <nav>
            <img id="logo" src="..\statics\public\logo2.png" alt="logo">
            <ul>
                <!-- teste = links tela -->
                <a id="teste" href="contato.html">CONTATO</a>
                <a id="teste" href="projetos.html">PROJETOS</a>
                <a id="teste" href="index.html">TELA INICIAL</a>
            </ul>
        </nav>
    <!-- Identificação de pagina, centro tela -->
    <div id="escrito">
        <section>
            <nav id="textoQuemSou">
                <h1 id="textQuemSouTitulo">Sobre Mim.</h1>
                <p id="textQuemSouparagrafo">Prazer, sou o Samuel, amo programação, atualmente estou cursando o curso de Desenvolvimento de Software Multiplataforma, na FATEC de São José dos Campos.<br>Nasci em Guararema/SP e moro em Jacareí, com meus atuais 22 anos.<br>Essa página é direcionada para postar meus projetos, com base em um portifólio digital</p>
            </nav>
        </section>
    </div>
</body>
</html>